# vim swap files
*.swp
*.swo

# temporary files from osm2city
*.pkl

# generated directories
venv/

# osm2city files
osm2city*

# pbf files
pbf/*

# add general-settings file since it contains passwords
general-settings

# Ignore the users projects
projects/

# Database reminder
.databases

# Ignore scripts directory
scripts*

# log files and cached values
*.log
*.log.cache

# backup files
*.bak
